{% load static %}

<div class="post-author py-100 x-border">
									

  <div class="post-author-avatar">
    <img src="{% static 'author.jpg' %}" alt="author-avatar">
  </div>

 
  <div class="post-author-txt">

 
    <h5 class="s-24 w-700">Parimila KV</h5>

 
    <p>Management turned soloprenuer figuring out things in Micro SAAS, Coding and Sales. Connect with me to discuss more about Micro SAAS
    </p>

 
    <div class="author-follow-btn r-04"><a href="#">Follow</a></div>

  </div>

</div>		
