{% extends "blog/base.html" %} {% load static %} {% block head %}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ post.date_posted|date:'c' }}"> {% if metaimg_url %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ metaimg_url }}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ metaimg_url }}">
<meta property="og:image:width" content="{{ metaimg_width }}">
<meta property="og:image:height" content="{{ metaimg_height }}">
<meta property="og:image:alt" content="{{ post.metaimg_alt_txt }}"> 
{% endif %} 
{% endblock head %} 

{% block content %}
<!-- <article class="media">
  <div class="media-body line-numbers ck-content">
    <div class="article-metadata">
      <h1 class="sml-margin-top-bottom">
        {{ post.title }}
        {% if post.draft %}
        <p id="draft">(Draft)</p>
        {% endif %}
      </h1>
      <div class="meta-img-container">
        <img id="post-detail-meta-img" src="{{ post.metaimg.url }}" alt="{{ post.metadesc }}">
      </div>
      <p class="post-dates sml-margin-top-bottom">
        <time datetime="{{ post.date_posted|date:"Y-m-d" }}">{{ post.date_posted|date:"F d, Y" }}</time> in {{ post.category.name }}
        {% if post.date_updated|date:"Ymd" != post.date_posted|date:"Ymd" %}
        <br>
        Last updated: <time datetime="{{ post.date_updated|date:"Y-m-d" }}">{{ post.date_updated|date:"F d, Y" }}</time>
        {% endif %}
      </p>
    </div>
    {% if post.author == user %}
    <div class="buttons-container">
      <a id="post-edit-button" class="btn btn-dark sml-margin-left-right" href="{% url 'post-update' post.slug %}">
        <span>Edit Post</span>
      </a>
      <a id="post-delete-button" class="btn btn-red sml-margin-left-right" href="{% url 'post-delete' post.slug %}">
        <span>Delete Post</span>
      </a>
    </div>
    {% endif %}
    <div class="sml-margin-top-bottom" id="print-container">
      <a class="btn btn-dark" href="javascript:window.print()">
        <img id="print-icon" src="{% static 'svg/print-icon.svg' %}" alt="Print this blog post">
        <span id="print-text">Print this post</span>
      </a>
    </div>
    <div class="post-text">
      {{ post.content|safe }}
    </div>
</article> -->
<!-- SINGLE POST
============================================= -->
<section id="single-post" class="pb-90 blog-page-section">
    <div class="container">
        <div class="row justify-content-center">
            <!-- SINGLE POST CONTENT -->
            <div class="col-xl-10">
                <div class="post-content">
                    <!--  SINGLE POST TITLE -->
                    <div class="single-post-title text-center">
                        <!-- Post Tag --> <span class="post-tag color--red-400">{{ post.category.name }}</span> <!-- Title -->
                        <h1 class="s-46 w-700" style="font-family: 'Plus Jakarta Sans', sans-serif;">{{ post.title }}</h1> {% if post.author == user %} <a class="btn" href="{% url 'post-update' post.slug %}"> <span>Edit Post</span> </a> <a class="btn" href="{% url 'post-delete' post.slug %}"> <span>Delete Post</span> </a> {% endif %}
                        <!-- Post Meta -->
                        <div class="blog-post-meta mt-35">
                            <ul class="post-meta-list ico-10">
                                <li>
                                    <p class="p-md w-500">{{ post.author }}</p>
                                </li>
                                <li class="meta-list-divider">
                                    <p><span class="flaticon-minus"></span></p>
                                </li>
                                <li>
                                    <p class="p-md">{{ post.date_posted|date:"F d, Y" }}</p>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- END SINGLE POST TITLE -->
                    <!-- SINGLE POST IMAGE -->
                    <div class="blog-post-img py-50"> <img class="img-fluid r-16" src="{{ post.metaimg.url }}" alt="{{ post.metadesc }}"> </div> <!-- SINGLE POST TEXT -->
                    <div class="single-post-txt"> {{ post.content|safe }} </div> <!-- END SINGLE POST TEXT -->
                </div> <!-- End row -->
                <!-- Comments Section-->
                <!-- POST COMMENTS -->
                <div class="post-comments">
                    <div class="comments-wrapper">
                        <h5 class="s-24 w-700">{{ post.comments.count }} Comments</h5>
                        <ul id="comments-list"> {% if post.comments.count > 0 %} {% for comment in post.comments.all %} {% include 'blog/comment/comment_item.html' %} {% endfor %} <li class="comment sml-margin-top-bottom">
                                <!-- Create Comments Section--> {% include 'blog/comment/add_comment.html' %}
                            </li>
                        </ul> {% else %} <div id="no-comments-message">
                            <li class="comment">No comments yet.</li> {% include 'blog/comment/add_comment.html' %}
                        </div> {% endif %}
                    </div>
                </div> <a href="{% url 'home' %}" id="post-back-to-home-button" class="btn btn-primary"> Back to Home </a> <!-- SINGLE POST SHARE LINKS -->
                <div class="row">
                    <div class="col post-share-list">
                        <ul class="share-social-icons ico-20 text-center clearfix">
                            <li><a href="https://twitter.com/intent/tweet/?text={{ post.title }}&amp;url={{ request.build_absolute_uri }}" class="share-ico"><span class="flaticon-twitter"></span></a></li>
                            <li><a href="#" class="share-ico"><span class="flaticon-facebook"></span></a></li>
                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}&amp;title={{ post.title }}&amp;summary={{ post.metadesc }}&amp;source={{ request.build_absolute_uri }}" class="share-ico"><span class="flaticon-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div> <!-- END SINGLE POST SHARE -->
            </div> <!-- End container -->
</section> <!-- END SINGLE POST -->

<!-- About The Author Section --> 

{% include 'blog/parts/about_me_card.html' %} 

{% endblock content %}

{% block special_content %}

<!-- BLOG-1
			============================================= -->
      <section id="blog-1" class="bg--white-300 py-100 blog-section division" style="width: 100vw;position:absolute;">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="section-title mb-70">
                        <!-- Title -->
                        <h2 class="s-50 w-700">Keep Reading...</h2> <!-- Text -->
                        <p class="s-21 color--grey">You may find these articles interesting.</p>
                    </div>
                </div>
            </div>
            <div class="row"> 
              {% for post in related_posts %} 
                {% include 'blog/parts/post_card.html' %} 
              {% endfor %} 
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- END BLOG-1 -->

{% endblock special_content %}

{% block js_content %}

<!-- django_ckeditor_5 -->
<link href="{% static 'django_ckeditor_5/ckeditor.css' %}" rel="stylesheet">
<script src="{% static 'django_ckeditor_5/prism.js' %}" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var lightModePrismCSS = "{% static 'django_ckeditor_5/prism-light.css' %}";
      var darkModePrismCSS = "{% static 'django_ckeditor_5/prism-dark.css' %}";
    
      var link = document.createElement('link');
      link.rel = 'stylesheet';
    
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        // User prefers dark mode
        link.href = darkModePrismCSS;
      } else {
        // User prefers light mode
        link.href = lightModePrismCSS;
      }
    
      document.head.insertBefore(link, document.head.firstChild);
    });
</script>
<script src="{% static 'js/addHeaderIdsAndLinks.js' %}" defer></script> <!-- Post-detail Injected Meta tags -->

{% endblock js_content %}