blogenv/
.env
.env.example

# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd

# Caches
__pycache__/

# Logs
*.log

logs/

app/blog/__pycache__/


# Compiled Python bytecode
*.pyc

# Ignore migrations
**/migrations/


